<section class="users-section">
  <ul class="users-list">
    <%= render @users %>
  </ul>
</section>
<hr>
<section class="friend-requests-section">
  <ul class="users-list">
    <%= render 'received_request' %>
  </ul>
    <ul class="users-list">
    <%= render 'requested_friends_status' %>
  </ul>
</section>