<section class="user-section">
  <h1><%= "Name: #{@user.name}" %></h1>
<br>
<hr>
<br>
<section class="friend-requests-section">
  <ul class="users-list">
    <%= render 'received_request' %>
  </ul>
</section>
<br>
<hr>
<br>
  <article class="timeline">
  <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
