<h1>hello</h1>

<%= form_with model: @friendship, url: user_friendships_path do |f| %>
  <div class="field">
    <%= f.label :friend_id %><br />
    <%= f.number_field :friend_id, autofocus: true %>
    <%= f.submit 'friends!' %>
  </div>
<% end %>